<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/header :: navbar"/>

<!-- Main component for a primary marketing message or call to action -->
<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>Moje konto</span></h2>
        </div>
        <div class="col-xs-4">
            <img src="/image/logo.png" class="img-responsive" style="margin-bottom: -150px;"/>
        </div>
    </div>
    <hr style="position:absolute; width:100%; height:6px; background-color: #333; z-index:-1; margin-top: -60px;"/>
    <!--<div class="col-xs-8">-->
    <img class="img-responsive" src="/image/wood.png" style="margin-top: -65px; margin-bottom: 25px;"/>
    <!--</div>-->
    <!--<div class="col-xs-4"></div>-->
    <div class="row" style="margin-top: 120px;">
        <div class="col-xs-9 col-xs-offset-3">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li th:classappend="${classActiveNewAccount}? 'active'"><a href="#tab-1" data-toggle="tab"><span style="color:red;">Załóż nowe konto</span></a></li>
                <li th:classappend="${classActiveLogin}? 'active'"><a href="#tab-2" data-toggle="tab"><span style="color:red;">Zaloguj</span></a></li>
                <li th:classappend="${classActiveForgotPassword}? 'active'"><a href="#tab-3" data-toggle="tab"><span style="color:red;">Przypomnienie hasła</span></a></li>
            </ul>

            <!-- Tab panels -->
            <div class="tab-content">

                <!-- create new user panel -->
                <div class="tab-pane fade" id="tab-1" th:classappend="${classActiveNewAccount}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <div class="alert alert-info" th:if="${emailSent}">
                                    Email z dalszymi instrukcjami został właśnie wysłany. Sprawdź swoją skrzynkę mailową.
                                </div>
                                <form th:action="@{/newUser}" method="post">
                                    <div class="form-group">
                                        <label for="newUsername">* Nazwa użytkownika</label></br><span style="color: red" th:if="${usernameExists}">Użytkownik o takiej nazwie istnieje.</span>
                                        <input required="required" type="text" class="form-control" id="newUsername"
                                               name="username"/>
                                        <p style="color:#828282">Wprowadź nazwę użytkownka</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">* Email</label></br><span style="color: red" th:if="${emailExists}">Email o takiej nazwie istnieje.</span>
                                        <input required="required" type="text" class="form-control" id="email"
                                               name="email"/>
                                        <p style="color:#828282">Wprowadź adres mailowy. Ten adres mailowy jest
                                            przypisany wyłącznie do twojego konta. Nie zostanie użyty do przeprowadzania
                                            ankiet czy reklam. Podany mail jest wykorzystywany tylko do realizacji
                                            zamówienia!</p>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Utwórz konto</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- log in panel -->
                <div class="tab-pane fade" id="tab-2" th:classappend="${classActiveLogin}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <div th:if="${param.error != null}" style="color: red">Niepoprawna nazwa użytkownika lub hasło!</div>
                                <form th:action="@{/login}" method="post">
                                    <div class="form-group">
                                        <label for="newUsername">* Nazwa użytkownika</label>
                                        <input required="required" type="text" class="form-control" id="newUsername"
                                               name="username"/>
                                        <p style="color:#828282">Wprowadź nazwę użytkownka</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">* Hasło</label>
                                        <input required="required" type="password" class="form-control"
                                               id="password" name="password"/>
                                        <p style="color:#828282">Wprowadź hasło do konta.</p>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Zaloguj</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- forget password -->
                <div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgotPassword}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <div th:if="${emailNotExists}" class="alert alert-danger">Podany email nie istnieje w bazie użytkowników.</div>
                                <div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email z nowym hasłem został wysłany.</div>
                                <form th:action="@{/forgetPassword}" method="post">
                                    <div class="form-group">
                                        <label for="recoverEmail">* Email</label>
                                        <input required="required" type="text" class="form-control"
                                               id="recoverEmail" name="email"/>
                                        <p style="color:#828282">Podaj adres mailowy przypisany do konta.</p>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Przypomnij hasło</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->

        <div th:replace="common/footer :: footer"/>
</body>
</html>
