<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/header :: navbar"/>

<!-- Main component for a primary marketing message or call to action -->
<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline"><span th:text="${#strings.toUpperCase(user.username)}"></span></h2>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/image/logo.png" class="img-responsive" style="margin-bottom: -150px;"/>
        </div>
    </div>
    <hr style="position:absolute; width:88%; height:6px; background-color: #333; z-index:-1; margin-top: -60px;"/>
    <!--<div class="col-xs-8">-->
    <img class="img-responsive" src="/image/wood.png" style="margin-top: -65px; margin-bottom: 25px;"/>
    <!--</div>-->
    <!--<div class="col-xs-4"></div>-->
    <div class="row" style="margin-top: 120px;">
        <div class="col-xs-9 col-xs-offset-3">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li th:classappend="${classActiveEdit}? 'active'"><a href="#tab-1" data-toggle="tab"><span
                        style="color:red;">Edycja konta</span></a></li>
                <li th:classappend="${classActiveOrders}? 'active'"><a href="#tab-2" data-toggle="tab"><span
                        style="color:red;">Zamówienia</span></a></li>
                <li th:classappend="${classActiveBilling}? 'active'"><a href="#tab-3" data-toggle="tab"><span
                        style="color:red;">Płatności</span></a></li>
                <li th:classappend="${classActiveShipping}? 'active'"><a href="#tab-4" data-toggle="tab"><span
                        style="color:red;">Dostawa zamówienia</span></a></li>
            </ul>

            <!-- Tab panels -->
            <div class="tab-content">

                <!-- edit user information -->
                <div class="tab-pane fade" id="tab-1" th:classappend="${classActiveEdit}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">

                                <div class="alert alert-danger" th:if="${incorrectPassword}">
                                    <strong>Błędne hasło!</strong> Proszę podać poprawne hasło dla uzytkownika.
                                </div>

                                <div class="alert alert-succss" th:if="${updateSuccess}">
                                    <strong>Zmiany zapisano!</strong>
                                </div>

                                <form th:action="@{/updateUserInfo}" method="post">
                                    <input type="hidden" name="id" th:value="${user.id}"/>

                                    <div class="bg-info" th:if="${updateUserInfo}">User info updated.</div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName" name="firstName"
                                                       th:value="${user.firstName}"/>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName" name="lastName"
                                                       th:value="${user.lastName}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="userName">User Name</label>
                                        <input type="text" class="form-control" id="userName" name="username"
                                               th:value="${user.username}"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="currentPassword">Obecne hasło</label>
                                        <input type="password" class="form-control" id="currentPassword"
                                               name="password" th:value="${currentPassword}"/>
                                    </div>

                                    <p style="color: #828282">Wpisz swoje obecne hasło jeśli chcesz zmienić hasło lub
                                        mail</p>

                                    <div class="form-group">
                                        <label for="email">Obecny adres mailowy</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                               th:value="${user.email}"/>
                                    </div>

                                    <p style="color: #828282">Wprowadź adres mailowy. Ten adres mailowy jest
                                        przypisany wyłącznie do twojego konta. Nie zostanie użyty do przeprowadzania
                                        ankiet czy reklam. Podany mail jest wykorzystywany tylko do realizacji
                                        zamówienia!</p>

                                    <div class="form-group">
                                        <label for="txtNewPassword">Hasło</label><span id="checkPasswordMatch"
                                                                                       style="color: red"></span>
                                        <input type="password" class="form-control" id="txtNewPassword" name="newPassword"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Powtórz hasło</label>
                                        <input type="password" class="form-control" id="txtConfirmPassword"/>
                                    </div>

                                    <p style="color: #828282">W celu zmiany hasła, proszę wpisać dwa razy to samo
                                        hasło.</p>

                                    <button id="updateUserInfoButton" type="submit" class="btn btn-primary">Zapisz</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end user information -->

                <!-- Order Information -->
                <div class="tab-pane fade" id="tab-2"
                     th:classappend="${classActiveOrders}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">

                                <table class="table table-sm table-inverse">
                                    <thead>
                                    <tr>
                                        <th>Data zamówienia</th>
                                        <th>Numer zamówienia</th>
                                        <th>Suma</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${orderList}">
                                        <td><a th:href="@{/orderDetail(id=${order.id})}"><span
                                                th:text="${order.orderDate}"></span></a></td>
                                        <td data-th-text="${order.id}"></td>
                                        <td data-th-text="${order.orderTotal}"></td>
                                        <td data-th-text="${order.orderStatus}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div th:if="${displayOrderDetail}">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="text-center">
                                                <h2>
                                                    Szczegóły dla płatności nr #<span th:text="${order.id}"></span>
                                                </h2>
                                            </div>
                                            <hr />

                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading">
                                                            <strong>Dane do dok sprzedaży</strong>
                                                        </div>
                                                        <div class="panel-body">
																<span
                                                                        th:text="${order.billingAddress.billingAddressName}"></span><br />
                                                            <span
                                                                    th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br />
                                                            <span
                                                                    th:text="${order.billingAddress.billingAddressCity}"></span><br />
                                                            <span
                                                                    th:text="${order.billingAddress.billingAddressState}"></span><br />
                                                            <span
                                                                    th:text="${order.billingAddress.billingAddressZipcode}"></span><br />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading">
                                                            <strong>Informacje o płatności</strong>
                                                        </div>
                                                        <div class="panel-body">
																<span th:text="${order.payment.holderName}">Card
																	Name</span><br /> <span th:text="${order.payment.cardNumber}">Card
																	Number</span><br /> <span>Exp Date:</span><span
                                                                th:text="${order.payment.expiryMonth}"></span>/<span
                                                                th:text="${order.payment.expiryYear}"></span><br />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading">
                                                            <strong>Dane do dostawy</strong>
                                                        </div>
                                                        <div class="panel-body">
																<span
                                                                        th:text="${order.shippingAddress.shippingAddressName}"></span><br />
                                                            <span
                                                                    th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br />
                                                            <span
                                                                    th:text="${order.shippingAddress.shippingAddressCity}"></span><br />
                                                            <span
                                                                    th:text="${order.shippingAddress.shippingAddressState}"></span><br />
                                                            <span
                                                                    th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-heading">
                                                <h3 class="text-center">
                                                    <strong>Podsumowanie zmaówienia</strong>
                                                </h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <td><strong>Nazwa produktu</strong></td>
                                                            <td class="text-center"><strong>Cena</strong></td>
                                                            <td class="text-center"><strong>Ilość</strong></td>
                                                            <td class="text-right"><strong>Suma</strong></td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="cartItem : ${cartItemList}">
                                                            <td data-th-text="${cartItem.product.name}"></td>
                                                            <td class="text-center"
                                                                data-th-text="${cartItem.product.ourPrice}"></td>
                                                            <td class="text-center" data-th-text="${cartItem.qty}"></td>
                                                            <td class="text-center"
                                                                data-th-text="${cartItem.subtotal}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="highrow"></td>
                                                            <td class="highrow"></td>
                                                            <td class="highrow text-center"><strong>Suma netto</strong></td>
                                                            <td class="highrow text-right"
                                                                data-th-text="${order.orderTotal}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="emptyrow"></td>
                                                            <td class="emptyrow"></td>
                                                            <td class="emptyrow text-center"><strong>VAT</strong></td>
                                                            <td class="emptyrow text-right"
                                                                data-th-text="${#numbers.formatDecimal(order.orderTotal*0.23,0,2)}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="emptyrow"><i
                                                                    class="fa fa-barcode iconbig"></i></td>
                                                            <td class="emptyrow"></td>
                                                            <td class="emptyrow text-center"><strong>Suma brutto</strong></td>
                                                            <td
                                                                    th:with="total=${order.orderTotal+order.orderTotal*0.23}"
                                                                    data-th-text="${#numbers.formatDecimal(total, 0, 2)}"
                                                                    class="emptyrow text-right"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end order information -->

                <!-- Billing Information -->
                <div class="tab-pane fade" id="tab-3"
                     th:classappend="${classActiveBilling}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active">
                                        <a th:href="@{/listOfCreditCards}" th:style="${listOfCreditCards}? 'color:red'">Lista
                                            kart kredytowych</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a th:href="@{/addNewCreditCard}" th:style="${addNewCreditCard}? 'color:red'">Dodaj(Zaktualizuj)
                                            kartę kredytową</a>
                                    </li>
                                </ol>

                                <div th:if="${listOfCreditCards}">
                                    <form th:action="@{/setDefaultPayment}" method="post">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Domyślna</th>
                                                <th>Karta kredytowa</th>
                                                <th>Opcje</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="userPayment : ${userPaymentList}">
                                                <td>
                                                    <input type="radio" name="defaultUserPaymentId"
                                                           th:value="${userPayment.id}"
                                                           th:checked="${userPayment.defaultPayment}"/>
                                                </td>
                                                <td th:text="${userPayment.cardName}"></td>
                                                <td>
                                                    <!--<a th:href="@{/updateCreditCard(id=${userPayment.id})}"><i class="fa fa-pencil"></i></a>-->
                                                    <!--xd-->
                                                    <!--<a th:href="@{/removeCreditCard(id=${userPayment.id})}"><i class="fa fa-times"></i></a>-->
                                                    <a
                                                            th:href="@{/updateCreditCard(id=${userPayment.id})}"><i
                                                            class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
                                                        th:href="@{/removeCreditCard(id=${userPayment.id})}"><i
                                                        class="fa fa-times"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-primary" type="submit">Zapisz</button>
                                    </form>
                                </div>

                                <div th:if="${addNewCreditCard}">
                                    <form th:action="@{addNewCreditCard}" method="post">
                                        <div class="bg-info" th:if="${updateUserPaymentInfo}">Informacje
                                            zaktualizowano.
                                        </div>

                                        <input hidden="hidden" name="id" th:value="${userPayment.id}"/>

                                        <div class="form-group">
                                            <h5>* Proszę podać dane karty kredytowej:</h5>
                                            <input type="text" class="form-control" id="cardName"
                                                   placeholder="Nazwa karty" th:name="cardName"
                                                   required="required" th:value="${userPayment.cardName}"/>
                                        </div>

                                        <!-- Billing Address -->
                                        <hr/>
                                        <div class="form-group">
                                            <h4>Dane do dokumentu sprzedaży</h4>
                                        </div>
                                        <div class="form-group">
                                            <label for="billingName">* Nazwa</label> <input type="text" class="form-control" id="billingName" placeHoder="Nazwa do dokumentu sprzedaży" th:name="userBillingName" required="required" th:value="${userBilling.userBillingName}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="billingAddress">* Addres</label> <input type="text" class="form-control" id="billingAddress" placeHoder="Address 1" th:name="userBillingStreet1" required="required" th:value="${userBilling.userBillingStreet1}"/> <input type="text" class="form-control" id="billingAddress" placeHoder="Address 2" th:name="userBillingStreet2" th:value="${userBilling.userBillingStreet2}"/>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="billingCity">* Miasto</label> <input type="text" class="form-control" id="billingCity" placeHoder="Miasto" th:name="userBillingCity" required="required" th:value="${userBilling.userBillingCity}"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="billingState">* Województwo (tymczasowo US)</label>
                                                    <select id="billingState" class="form-control" th:name="userBillingState" th:value="${userBilling.userBillingState}" required="required">
                                                        <option value="" disabled="disabled">Wybierz województwo
                                                        </option>
                                                        <option th:each="state : ${stateList}" th:text="${state}" th:selected="(${userBilling.userBillingState}==${state})"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="billingZipcode">* Kod pocztowy</label> <input type="text" class="form-control" id="billingZipcode" placeHoder="Kod pocztowy" th:name="userBillingZipcode" required="required" th:value="${userBilling.userBillingZipcode}"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Credit Card Information -->
                                        <hr/>
                                        <div class="form-group">
                                            <h4>Dane karty kredytowej</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <img src="/image/creditcard.png" class="img-responsive"/><br/>
                                                <div class="form-group">
                                                    <label for="cardType">* Wybierz typ karty kredytowej:</label>
                                                    <select class="form-controll" id="cardType" th:name="type"
                                                            th:value="${userPayment.type}">
                                                        <option value="visa">Visa</option>
                                                        <option value="mastercard">Mastercard</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardHolder">* Właściciel karty:</label>
                                                    <input type="text" class="form-control" id="cardHolder"
                                                           required="required"
                                                           placeholder="Dane właściciela karty" th:name="holderName"
                                                           th:value="${userPayment.holderName}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardNumber">* Numer karty:</label>
                                                    <div class="input-group">
                                                        <input type="tel" class="form-control" id="cardNumber"
                                                               required="required"
                                                               placeholder="Poprawny numer karty kredytowej"
                                                               th:name="cardNumber"
                                                               th:value="${userPayment.cardNumber}"/>
                                                        <span class="input-group-addon"><i class="fa fa-credit-card"
                                                                                           aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group">
                                                    <label>* Expiration Date</label>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <select class="form-control" name="expiryMonth"
                                                                    required="required"
                                                                    th:value="${userPayment.expiryMonth}">
                                                                <option disabled="disabled">-- Miesiąc --</option>
                                                                <option value="01">Jan (01)</option>
                                                                <option value="02">Feb (02)</option>
                                                                <option value="03">Mar (03)</option>
                                                                <option value="04">Apr (04)</option>
                                                                <option value="05">May (05)</option>
                                                                <option value="06">June (06)</option>
                                                                <option value="07">July (07)</option>
                                                                <option value="08">Aug (08)</option>
                                                                <option value="09">Sep (09)</option>
                                                                <option value="10">Oct (10)</option>
                                                                <option value="11">Nov (11)</option>
                                                                <option value="12">Dec (12)</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <select class="form-control" name="expiryYear"
                                                                    th:value="${userPayment.expiryYear}">
                                                                <option disabled="disabled">-- Rok --</option>
                                                                <option value="19">2019</option>
                                                                <option value="20">2020</option>
                                                                <option value="21">2021</option>
                                                                <option value="22">2022</option>
                                                                <option value="23">2023</option>
                                                                <option value="23">2024</option>
                                                                <option value="23">2025</option>
                                                                <option value="23">2026</option>
                                                                <option value="23">2027</option>
                                                                <option value="23">2028</option>
                                                                <option value="23">2029</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="form-group">
                                                    <label for="cardCVC">Kod CV</label>
                                                    <input id="cardCVC" type="tel" class="form-control" name="cvc"
                                                           placeholder="CVC" th:name="cvc"
                                                           th:value="${userPayment.cvc}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                        <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping Information -->
                <div class="tab-pane fade" id="tab-4"
                     th:classappend="${classActiveShipping}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">

                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active"><a
                                            th:href="@{/listOfShippingAddresses}"
                                            th:style="${listOfShippingAddresses}? 'color:red'">Książka adresowa</a></li>
                                    <li class="breadcrumb-item active"><a
                                            th:href="@{/addNewShippingAddress}"
                                            th:style="${addNewShippingAddress}? 'color:red'">Dodaj (zaktualizuj) adres
                                        dostawy</a></li>
                                </ol>

                                <div th:if="${listOfShippingAddresses}">
                                    <form th:action="@{/setDefaultShippingAddress}" method="post">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Domyślna</th>
                                                <th>Adres</th>
                                                <th>Operacje</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="userShipping : ${userShippingList}">
                                                <td><input type="radio" name="defaultShippingAddressId"
                                                           th:value="${userShipping.id}"
                                                           th:checked="${userShipping.userShippingDefault}"/><span>default</span>
                                                </td>
                                                <td th:text="${userShipping.userShippingStreet1}+', '+
														${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
                                                <td><a
                                                        th:href="@{/updateUserShipping(id=${userShipping.id})}"><i
                                                        class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
                                                        th:href="@{/removeUserShipping(id=${userShipping.id})}"><i
                                                        class="fa fa-times"></i></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-primary" type="submit">Zapisz</button>
                                    </form>
                                </div>

                                <div th:if="${addNewShippingAddress}">
                                    <form th:action="@{/addNewShippingAddress}" method="post">
                                        <div class="bg-info" th:if="${updateUserShippingInfo}">Informacje
                                            zaktualizowano.
                                        </div>

                                        <input hidden="hidden" name="id" th:value="${userShipping.id}"/>

                                        <!-- Shipping Address -->
                                        <hr/>
                                        <div class="form-group">
                                            <h4>Adres dostawy</h4>
                                        </div>
                                        <div class="form-group">
                                            <label for="shippingName">* Nazwa</label> <input type="text"
                                                                                             class="form-control"
                                                                                             id="shippingName"
                                                                                             placeholder="Nazwa"
                                                                                             th:name="userShippingName"
                                                                                             required="required"
                                                                                             th:value="${userShipping.userShippingName}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="shippingAddress">* Ulica 1</label> <input
                                                type="text" class="form-control" id="shippingAddress"
                                                placeholder="Ulica 1" th:name="userShippingStreet1"
                                                required="required"
                                                th:value="${userShipping.userShippingStreet1}"/> <input
                                                type="text" class="form-control"
                                                placeholder="Ulica 2" th:name="userShppingStreet2"
                                                th:value="${userShipping.userShippingStreet2}"/>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingCity">* Miasto</label>                                                          <input type="text" class="form-control" id="shippingCity" placeholder="Miasto" th:name="userShippingCity" required="required" th:value="${userShipping.userShippingCity}"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingState">* Województwo</label> <select
                                                        id="shippingState" class="form-control"
                                                        th:name="userShippingState"
                                                        th:value="${userShipping.userShippingState}"
                                                        required="required">
                                                    <option value="" disabled="disabled">Wybierz województwo</option>
                                                    <option th:each="state : ${stateList}" th:text="${state}"
                                                            th:selected="(${userShipping.userShippingState}==${state})"></option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="shippingZipcode">* Kod pocztowy</label> <input
                                                        type="text" class="form-control" id="shippingZipcode"
                                                        placeholder="Kod pocztowy"
                                                        th:name="userShippingZipcode" required="required"
                                                        th:value="${userShipping.userShippingZipcode}"/>
                                                </div>
                                            </div>
                                        </div>

                                        <hr/>
                                        <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->

<div th:replace="common/footer :: footer"/>
</body>
</html>
